<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lol.mapper.CommunityMapper">
	<insert id="insertCommunity" parameterType="com.example.lol.model.Community" useGeneratedKeys="true" keyProperty="communityId">
		INSERT INTO cmt_community(
			communityNm
			,categoryId
			,createId
			,createDate
		) VALUES (
			#{communityNm}
			,#{categoryId}
			,#{createId}
			,now()
		)
	</insert>
	
	<update id="updateCommunity" parameterType="com.example.lol.model.Community">
		UPDATE cmt_community SET 
			communityNm = #{communityNm}
			,categoryId = #{categoryId}
			,modifyId = #{modifyId}
			,modifyDate = now() 
		WHERE communityId = #{communityId}
	</update>
	
	<delete id="deleteCommunity" parameterType="com.example.lol.model.Community">
		DELETE FROM cmt_community
		WHERE communityId = #{communityId}
	</delete>
	
	<select id="selectCommunity" parameterType="com.example.lol.model.Community" resultType="java.util.Map">
		SELECT communityId
			,communityNm
			,categoryId
			,createId
			,createDate
			,modifyId
			,modifyDate
		FROM cmt_community
		WHERE categoryId = #{categoryId}
	</select>
	
	<select id="selectCommunityDetail" parameterType="com.example.lol.model.Community" resultType="java.util.Map">
		SELECT communityId
			,communityNm
			,categoryId
			,createId
			,createDate
			,modifyId
			,modifyDate
		FROM cmt_community
		WHERE categoryId = #{categoryId}
			AND communityId = #{communityId}
	</select>
	
	<select id="isCommunity" parameterType="com.example.lol.model.Community" resultType="Boolean">
		SELECT count(1)
		FROM cmt_community
		WHERE 1=1
		<if test="communityId != null and communityId !=''">
			communityId = #{communityId}
		</if> 
		<if test="categoryId != null and categoryId !=''">
			categoryId = #{categoryId}
		</if>
	</select>
</mapper>