<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lol.mapper.LoginMapper">
	<select id="isLogin" parameterType="com.example.lol.model.User" resultType="Boolean">
		SELECT count(1)
		FROM cmt_user
		WHERE userNm = #{userNm}
	</select>
	
	<select id="isLoginPw" parameterType="com.example.lol.model.User" resultType="Boolean">
		SELECT count(1)
		FROM cmt_user
		WHERE 1=1
		AND userNm = #{userNm}
		AND password = #{password}
	</select>

	<update id="userUuid" parameterType="com.example.lol.model.User">
		UPDATE cmt_user
		SET token = #{token}
			,tokenTime = 3600
		WHERE userNm = #{userNm}
	</update>
</mapper>