<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lol.mapper.CommentReplyMapper">
	<insert id="insertCommentReply" parameterType="com.example.lol.model.CommentReply" useGeneratedKeys="true" keyProperty="replyId">
		INSERT INTO cmt_comment_reply(
			contents
			,userId
			,commentId
			,isDelete
			,reportCnt
			,createDate
		)VALUES(
			#{contents}
			,#{userId}
			,#{commentId}
			,0
			,0
			,now()
		)
	</insert>
	
	<update id="updateCommentReply" parameterType="com.example.lol.model.CommentReply">
		UPDATE cmt_comment_reply
		SET	contents = #{contents}
			,modifyDate = now()
		WHERE replyId = #{replyId}
	</update>
	
	<delete id="deleteCommentReply" parameterType="com.example.lol.model.CommentReply">
		DELETE FROM cmt_comment_reply
		WHERE replyId = #{replyId}
	</delete>
	
	<select id="selectCommentReply" parameterType="com.example.lol.model.CommentReply" resultType="java.util.Map">
		SELECT replyId
			,contents
			,userId
			,commentId
			,isDelete
			,reportCnt
			,createDate
			,modifyDate
		FROM cmt_comment_reply
		WHERE commentId = #{commentId}
	</select>
	
	<select id="selectCommentReplyDetail" parameterType="com.example.lol.model.CommentReply" resultType="java.util.Map">
		SELECT replyId
			,contents
			,userId
			,commentId
			,isDelete
			,reportCnt
			,createDate
			,modifyDate
		FROM cmt_comment_reply
		WHERE commentId = #{commentId}
		AND replyId = #{replyId}
	</select>
	
	<update id="updateReport" parameterType="com.example.lol.model.CommentReply">
		UPDATE  cmt_comment_reply
		SET reportCnt = #{reportCnt}
		WHERE replyId = #{replyId}
	</update>
</mapper>