<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lol.mapper.UserMapper">
	<insert id="insertUser" parameterType="com.example.lol.model.User" useGeneratedKeys="true" keyProperty="userId">
		INSERT INTO cmt_user(
			userNm
			,isDelete
			,createDate
		)VALUES(
			#{userNm}
			,0
			,now()
		)
	</insert>
	
	<update id="updateUser" parameterType="com.example.lol.model.User">
		UPDATE cmt_user
		SET userNm = #{userNm}
		,adminYn = #{adminYn}
		,isDelete = #{isDelete}
		,modifyDate = now()
		WHERE userId = #{userId}
	</update>
	
	<update id="deleteUser" parameterType="com.example.lol.model.User">
		UPDATE cmt_user
		SET isDelete = 1
		,modifyDate = now()
		WHERE userId = #{userId}
	</update>
	
	<select id="selectUser" resultType="java.util.Map">
		SELECT userId
			,userNm
			,adminYn
			,isDelete
			,createDate
			,modifyDate
		FROM cmt_user
	</select>
	
	<select id="selectUserDetail" parameterType="com.example.lol.model.User" resultType="java.util.Map">
		SELECT userId
			,userNm
			,adminYn
			,isDelete
			,createDate
			,modifyDate
		FROM cmt_user
		WHERE userId = #{userId}
	</select>
	
	<select id="isUserId" parameterType="Long" resultType="Boolean">
		SELECT count(1)
		FROM cmt_user
		WHERE userId = #{userId}
	</select>
	
</mapper>